* {
    margin: 0;
}

#root {
    display: flex;
    flex-wrap: wrap; /* flex items will wrap onto multiple lines, from top to bottom. */
    width: 60%;
    justify-content: center;
    margin: auto;
}

#root, button {
    color: white;
}

.App, .create-task input, button {
    font-family: roboto;
}

.create-task {
    padding: 50px;
    background-color: #2f3238;
}

.create-task input {
    height: 45px;
    width: 225px;
    margin-right: 25px;
    border-radius: 0;
    color: white;
    padding-left: 10px;
    outline: none;
}

.create-task input:focus {
    border-color: #ac556e;
}

.create-task input, button {
    border: 2px solid white;
    background-color: #2f3238;
}

button {
    padding: 15px;
    margin: 10px;
    width: 200px;
}

button:hover {
    cursor: pointer;
}

.App, button:hover {
    background-color: #ac556e;
}

.task-list-information p {
    padding: 20px;
}

.result {
    font-weight: bold;
}

.confirmation-pop-up {
    padding-top: 50px;
}

.task-list-information p, .confirmation-pop-up, .task, .task-completed {
    text-align: center;
}

.task, .task-completed {
    padding: 50px;
    border: 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.task span, .task-completed span {
    display: inline-block;
    margin-left: 15px;
    font-size: 25px;
}

.input-checkbox {
    -webkit-appearance: none;
	background-color: #2f3238;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
	border-radius: 3px;
	display: inline-block;
    position: relative;
}

.input-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ac556e;
}

.task-completed span {
    text-decoration: line-through;
}
